.content {
  @include center($jeet-max-width);
  padding: 0 102px;
}

// header

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App header {
    margin-bottom: 50px;
}


.user__menu-toggle {
  display: flex;
  align-items: center;
  margin-right: 54px;
}

.user__icon {
  margin-right: 15px;
}

.user__name {
  margin-right: 8px;
}

.header-content-mb {
  display: none;
}

.search__input {
  padding: 17px 65px 16px 25px;
}

.search__submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
}

.search__submit-btn-mb {
  display: none;
}

.search {
  position: relative;
}

.header-menu {
  position: absolute;
  top: 33px;
  left: -22px;
  padding: 20px 0;
  width: 175px;
  z-index: 1;
}


// grid

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: .9%;
  margin-bottom: 15px;
}

.grid-item {
  max-width: 275px;
  margin-bottom: 45px;
}


// detail

.detail {
  width: 590px;
  display: inline-block;
  float: left;
  position: relative;
}

.watch-wrapper {
  width: 500px;
  display: inline-block;
  float: left;
}

.watch__btn {
  width: auto;
  height: 88px;
  padding: 25px 40px;
  margin: 30px;
  display: inline-block;
}

.detail-controls-mb {
  display: none;
}

// media queries

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: .9%;
    margin-bottom: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .header-content {
    display: none;
  }

  .header-content-mb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
  }

  #main-header.searching {
    padding: 0;
  }

  .header-content-mb.searching {
    padding: 0;
  }

  .noltflix_logo {
    width: 127px;
  }

  .App header {
    margin-bottom: 20px;
  }

  .search__submit-btn {
    position: absolute;
    padding: 0;
    top: 23px;
    right: 23px;
  }

  .search__close-mb {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 25px;
  }

  .search__input-mb {
    width: 100%;
    padding: 17px 70px 16px 70px;
    height: 72px;
  }

  .search-mb.show {
    width: 100%;
    transition: 5s;
  }

  .user__name, .user__down-arrow, .search__input, .detail__back, .detail__favorite , .watch-wrapper {
    display: none;
  }

  .user__menu-toggle, .user__icon {
    margin-right: 0;
  }

  .header-menu-mb {
    width: 100%;
    top: 56px;
    left: 0px;
  }

  // grid


  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: .9%;
    margin-bottom: 15px;
  }

  .content {
    padding: 0 25px;
    padding: 0;
  }

  .grid-item {
    max-width: 100%;
  }

  // detail

  .detail-controls-mb {
    display: inline-block;
    min-height: 211px;
    position: relative;
    width: 100%;
  }

  .detail {
    width: 100%;
  }

  .detail-controls-mb .detail__back , .detail-controls-mb .detail__favorite, .detail-controls-mb .watch__btn{
    display: inline-block;
    position: absolute;
    width: auto;
  }

  .detail-controls-mb .detail__back {
    top: 25px;
    left: 25px;
  }

  .detail-controls-mb .detail__favorite{
    top: 25px;
    right: 25px;
  }

  .detail-controls-mb .watch__btn {
    bottom: 25px;
    left: 25px;
  }

  .detail__runtime, .detail__favorite {
      width: 100%;
  }

  .watch__btn {
    height: auto;
    padding: 12px 25px;
    margin: 0;
  }
}
